@{
    ViewData["Title"] = "How It Works";
}
<h1>@ViewData["Title"]</h1>

<p>Ask SHOULD i a question to make an easy decision.</p>
<button><a asp-area="" asp-controller="Home" asp-action="Index">Ask</a></button>