@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I promise we aren't listening.</p>
<p>We don't use cookies, and we aren't looking for your information.<br />We just want to help make decion making easier for you.<br />See <a asp-area="" asp-controller="Home" asp-action="HowItWorks">How It Works</a>.</p>
